In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
!wget https://archive.ics.uci.edu/static/public/222/bank+marketing.zip

--2024-10-14 07:15:10--  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Loaded CA certificate '/usr/ssl/certs/ca-bundle.crt'
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... failed: Connection timed out.
Retrying.

--2024-10-14 07:15:34--  (try: 2)  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... failed: Connection timed out.
Retrying.

--2024-10-14 07:15:57--  (try: 3)  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... failed: Connection timed out.
Retrying.

--2024-10-14 07:16:21--  (try: 4)  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... failed: Connection timed out.
Retrying.

--2024-10-14 07:16:46--  (try: 5)  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... failed: Connection timed out.
Retrying.

--2024-10-14 07:17:12--  (try: 6)  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... failed: Connection timed out.
Retrying.

--2024-10-14 07:17:39--  (try: 7)  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... failed: Connection timed out.
Retrying.

--2024-10-14 07:18:07--  (try: 8)  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... failed: Connection timed out.
Retrying.

--2024-10-14 07:18:36--  (try: 9)  https://archive.ics.uci.edu/static/public/222/bank+marketing.zip
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: 'bank+marketing.zip'

     0K .......... .......... .......... .......... .......... 89.2K
    50K .......... .......... .......... .......... ..........  203K
   100K .......... .......... .......... .......... .......... 1.49M
   150K .......... .......... .......... .......... ..........  219K
   200K .......... .......... .......... .......... .......... 1013K
   250K .......... .......... .......... .......... ..........  166K
   300K .......... .......... .......... .......... ..........  268K
   350K .......... .......... .......... .......... ..........  545K
   400K .......... .......... .......... .......... .......... 3.68M
   450K .......... .......... .......... .......... ..........  313K
   500K .......... .......... .......... .......... .......... 1.94M
   550K .......... .......... .......... .......... ..........  605K
   600K .......... .......... .......... .......... .......... 2.48M
   650K .......... .......... .......... .......... ..........  315K
   700K .......... .......... .......... .......... ..........  566K
   750K .......... .......... .......... .......... .......... 4.07M
   800K .......... .......... .......... .......... .......... 1.21M
   850K .......... .......... .......... .......... ..........  361K
   900K .......... .......... .......... .......... ..........  571K
   950K .......... .......... .......... .......... .........  2.75M=2.5s

2024-10-14 07:18:43 (394 KB/s) - 'bank+marketing.zip' saved [1023843]

In [8]:
df = pd.read_csv('bank/bank-full.csv', sep=';')

In [9]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [10]:
df.desacribe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [15]:
df['poutcome'].value_counts()

poutcome
unknown    36959
failure     4901
other       1840
success     1511
Name: count, dtype: int64

In [21]:
selectedc = [
    'age',
    'job',
    'marital',
    'education',
    'balance',
    'housing',
    'contact',
    'day',
    'month',
    'duration',
    'campaign',
    'pdays',
    'previous',
    'poutcome',
    'y'
]

In [20]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [22]:
dfn = df[selectedc]

In [23]:
dfn.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,no

In [24]:
dfn.isnull().sum()

age          0
job          0
marital      0
education    0
balance      0
housing      0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [38]:
dfn['education'].mode()

0    secondary
Name: education, dtype: object

In [39]:
num_cols = list(dfn.dtypes[dfn.dtypes != 'object'].index)
num_cols

['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']

In [35]:
dfn[num_cols].corr()

               age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.097783 -0.009120 -0.004648  0.004760 -0.023758  0.001288
balance   0.097783  1.000000  0.004503  0.021560 -0.014578  0.003435  0.016674
day      -0.009120  0.004503  1.000000 -0.030206  0.162490 -0.093044 -0.051710
duration -0.004648  0.021560 -0.030206  1.000000 -0.084570 -0.001565  0.001203
campaign  0.004760 -0.014578  0.162490 -0.084570  1.000000 -0.088628 -0.032855
pdays    -0.023758  0.003435 -0.093044 -0.001565 -0.088628  1.000000  0.454820
previous  0.001288  0.016674 -0.051710  0.001203 -0.032855  0.454820  1.000000

In [44]:
dfn['y'] = (dfn['y'] == 'yes').astype('int64')

C:\Users\Excellus\AppData\Local\Temp\ipykernel_17348\1241618025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfn['y'] = (dfn['y'] == 'yes').astype('int64')

In [45]:
dfn.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,0

In [46]:
dfn.columns

Index(['age', 'job', 'marital', 'education', 'balance', 'housing', 'contact',
       'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome',
       'y'],
      dtype='object')

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
df_full_train, df_test = train_test_split(dfn, test_size=0.2, random_state=42)

In [49]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [50]:
len(df_train), len(df_test), len(df_val)

(27126, 9043, 9042)

In [52]:
df_train = df_train.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_train.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,32,technician,single,tertiary,1100,yes,cellular,11,aug,67,1,-1,0,unknown,0
1,38,entrepreneur,married,secondary,0,yes,cellular,17,nov,258,1,-1,0,unknown,0
2,49,blue-collar,married,secondary,3309,yes,cellular,15,may,349,2,-1,0,unknown,0
3,37,housemaid,married,primary,2410,no,cellular,4,aug,315,1,-1,0,unknown,0
4,31,self-employed,married,tertiary,3220,no,cellular,26,aug,74,4,-1,0,unknown,0

In [53]:
y_train = df_train['y']
del df_train['y']
y_test = df_test['y']
del df_test['y']
y_val = df_val['y']
del df_val['y']

In [54]:
dfn.dtypes

age           int64
job          object
marital      object
education    object
balance       int64
housing      object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y             int64
dtype: object

In [55]:
categorical = list(dfn.dtypes[dfn.dtypes == 'object'].index)
categorical

['job', 'marital', 'education', 'housing', 'contact', 'month', 'poutcome']

In [56]:
dfn[categorical]

                job   marital  education housing    contact month poutcome
0        management   married   tertiary     yes    unknown   may  unknown
1        technician    single  secondary     yes    unknown   may  unknown
2      entrepreneur   married  secondary     yes    unknown   may  unknown
3       blue-collar   married    unknown     yes    unknown   may  unknown
4           unknown    single    unknown      no    unknown   may  unknown
...             ...       ...        ...     ...        ...   ...      ...
45206    technician   married   tertiary      no   cellular   nov  unknown
45207       retired  divorced    primary      no   cellular   nov  unknown
45208       retired   married  secondary      no   cellular   nov  success
45209   blue-collar   married  secondary      no  telephone   nov  unknown
45210  entrepreneur   married  secondary      no   cellular   nov    other

[45211 rows x 7 columns]

In [57]:
from sklearn.metrics import mutual_info_score

In [63]:
def mutual_info_average(series):
    return round(mutual_info_score(series, df_full_train['y']), 2)

In [64]:
df_full_train[categorical].apply(mutual_info_average)

job          0.01
marital      0.00
education    0.00
housing      0.01
contact      0.01
month        0.02
poutcome     0.03
dtype: float64

In [65]:
from sklearn.feature_extraction import DictVectorizer

In [66]:
dv = DictVectorizer(sparse=False)

In [68]:
train_dict = df_train.to_dict(orient= 'records')
train_dict[:10]

[{'age': 32,
  'job': 'technician',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 1100,
  'housing': 'yes',
  'contact': 'cellular',
  'day': 11,
  'month': 'aug',
  'duration': 67,
  'campaign': 1,
  'pdays': -1,
  'previous': 0,
  'poutcome': 'unknown'},
 {'age': 38,
  'job': 'entrepreneur',
  'marital': 'married',
  'education': 'secondary',
  'balance': 0,
  'housing': 'yes',
  'contact': 'cellular',
  'day': 17,
  'month': 'nov',
  'duration': 258,
  'campaign': 1,
  'pdays': -1,
  'previous': 0,
  'poutcome': 'unknown'},
 {'age': 49,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 3309,
  'housing': 'yes',
  'contact': 'cellular',
  'day': 15,
  'month': 'may',
  'duration': 349,
  'campaign': 2,
  'pdays': -1,
  'previous': 0,
  'poutcome': 'unknown'},
 {'age': 37,
  'job': 'housemaid',
  'marital': 'married',
  'education': 'primary',
  'balance': 2410,
  'housing': 'no',
  'contact': 'cellular',
  'day': 4,
  'month': 'aug',
  'duration': 315,
  'campaign': 1,
  'pdays': -1,
  'previous': 0,
  'poutcome': 'unknown'},
 {'age': 31,
  'job': 'self-employed',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 3220,
  'housing': 'no',
  'contact': 'cellular',
  'day': 26,
  'month': 'aug',
  'duration': 74,
  'campaign': 4,
  'pdays': -1,
  'previous': 0,
  'poutcome': 'unknown'},
 {'age': 32,
  'job': 'services',
  'marital': 'single',
  'education': 'secondary',
  'balance': 11287,
  'housing': 'yes',
  'contact': 'cellular',
  'day': 21,
  'month': 'nov',
  'duration': 92,
  'campaign': 7,
  'pdays': -1,
  'previous': 0,
  'poutcome': 'unknown'},
 {'age': 35,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 0,
  'housing': 'yes',
  'contact': 'cellular',
  'day': 11,
  'month': 'nov',
  'duration': 229,
  'campaign': 2,
  'pdays': 96,
  'previous': 3,
  'poutcome': 'success'},
 {'age': 39,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': -17,
  'housing': 'yes',
  'contact': 'cellular',
  'day': 28,
  'month': 'aug',
  'duration': 908,
  'campaign': 1,
  'pdays': -1,
  'previous': 0,
  'poutcome': 'unknown'},
 {'age': 60,
  'job': 'technician',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 2934,
  'housing': 'no',
  'contact': 'cellular',
  'day': 8,
  'month': 'aug',
  'duration': 233,
  'campaign': 2,
  'pdays': -1,
  'previous': 0,
  'poutcome': 'unknown'},
 {'age': 48,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 3,
  'housing': 'no',
  'contact': 'cellular',
  'day': 19,
  'month': 'aug',
  'duration': 289,
  'campaign': 2,
  'pdays': -1,
  'previous': 0,
  'poutcome': 'unknown'}]

In [36]:
X_train = dv.fit_transform(train_dict)
X_train

array([[1.500e+01, 6.000e+00, 2.250e+02, ..., 0.000e+00, 0.000e+00,
        2.011e+03],
       [1.700e+01, 6.000e+00, 2.760e+02, ..., 0.000e+00, 0.000e+00,
        2.009e+03],
       [1.200e+01, 1.000e+01, 5.700e+02, ..., 0.000e+00, 0.000e+00,
        2.012e+03],
       ...,
       [1.700e+01, 6.000e+00, 2.600e+02, ..., 0.000e+00, 0.000e+00,
        2.012e+03],
       [1.900e+01, 4.000e+00, 1.360e+02, ..., 0.000e+00, 0.000e+00,
        1.993e+03],
       [1.700e+01, 6.000e+00, 3.650e+02, ..., 1.000e+00, 0.000e+00,
        2.015e+03]])

In [37]:
val_dict = df_val.to_dict(orient= 'records')
X_val = dv.transform(val_dict)
test_dict = df_test.to_dict(orient= 'records')
X_test = dv.transform(test_dict)

In [38]:
X_test

array([[1.300e+01, 6.000e+00, 2.750e+02, ..., 0.000e+00, 0.000e+00,
        2.005e+03],
       [2.500e+01, 4.000e+00, 1.700e+02, ..., 1.000e+00, 0.000e+00,
        2.016e+03],
       [1.900e+01, 6.000e+00, 2.480e+02, ..., 0.000e+00, 0.000e+00,
        2.016e+03],
       ...,
       [2.400e+01, 4.000e+00, 1.500e+02, ..., 1.000e+00, 0.000e+00,
        2.015e+03],
       [2.300e+01, 5.000e+00, 1.700e+02, ..., 0.000e+00, 1.000e+00,
        2.014e+03],
       [2.400e+01, 6.000e+00, 2.550e+02, ..., 0.000e+00, 0.000e+00,
        2.015e+03]])

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)

In [41]:
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [42]:
model.intercept_[0]

-9.658766624208182e-05

In [43]:
model.coef_[0]

array([-4.11929852e-03, -7.70422528e-04, -2.34840078e-03, -3.65829166e-03,
       -4.36374719e-04,  8.17137188e-09,  5.67310553e-09, -5.68823880e-06,
        2.77909911e-04,  2.70534500e-09, -3.14938692e-10,  2.79201788e-05,
       -9.77845187e-05, -1.95218229e-04,  1.49215080e-04, -1.03549690e-04,
       -4.88850074e-08,  2.18875832e-09,  1.35618983e-04,  2.90223708e-04,
        1.12189903e-05, -5.71867022e-06, -1.01015411e-05,  1.15234778e-05,
       -3.75067171e-05, -1.58301636e-04,  1.76431047e-09,  4.92020025e-05,
       -1.76676171e-04,  1.31665603e-06,  3.74616179e-08,  7.89761481e-09,
        2.73301839e-10,  1.45306541e-06,  1.51128889e-10,  4.67039667e-05,
       -9.62089944e-07,  4.67932944e-04, -4.83995323e-07,  4.57113433e-08,
       -4.31153439e-07,  7.18548030e-08,  1.00003017e-09, -2.89431845e-04,
       -3.82885844e-08,  2.18399485e-10, -5.14585175e-05, -2.19680573e-07,
        4.19821986e-09,  3.42522758e-04, -4.26245834e-05, -2.96919173e-04,
        1.35107760e-04, -2.64972814e-09, -4.98971239e-09, -5.90003750e-10,
       -4.13428880e-09, -6.45227206e-07, -3.82888730e-08, -1.17616616e-09,
       -5.91074428e-10, -9.43056751e-10, -3.53448157e-08,  3.91007795e-05,
        2.86116070e-06,  2.76458001e-05, -4.74961574e-09, -1.91363477e-09,
       -3.01503200e-08, -1.52029826e-09, -1.18241377e-09, -5.93896846e-10,
        3.38816023e-05,  3.60691407e-10,  3.26898846e-06,  2.39285488e-04,
        4.46750404e-06, -5.90863942e-10, -5.91110626e-10,  1.40440832e-10,
        1.28074206e-10,  8.17137188e-09,  1.74111501e-05, -7.82664118e-09,
        3.42771934e-08,  6.06992595e-09, -9.29121955e-09, -1.55519934e-09,
       -7.29831986e-09, -1.25691171e-08, -1.47366385e-08,  1.40272081e-10,
       -8.92160153e-10,  9.27601742e-11,  8.18783216e-11,  3.55276978e-10,
        9.72868566e-11, -1.42475163e-08,  5.29681680e-09,  2.24496211e-09,
       -9.25850160e-10, -1.18225353e-09,  5.54809611e-11,  1.80541665e-10,
       -4.88285798e-09,  2.79905075e-09, -2.36278057e-09, -2.95494622e-10,
       -2.94868024e-10, -1.01449176e-09, -1.47698262e-09, -4.69256994e-09,
       -6.65310988e-09, -2.95413150e-05, -4.74352541e-06, -7.93768156e-05,
       -1.12620551e-05, -1.64495312e-04, -1.76445846e-09, -4.11176465e-09,
       -2.05717397e-09,  6.22614397e-09, -3.44624921e-10, -5.87495299e-10,
       -3.53581261e-09, -9.19842325e-10, -8.80934814e-10, -9.84138288e-10,
        2.64410082e-05,  2.44689785e-05, -1.31465029e-04,  1.21125610e-07,
        4.45127221e-09,  1.73609028e-09,  3.00132397e-10,  7.42855304e-10,
        1.29712167e-10,  2.12412426e-05, -1.19710410e-04,  1.07548809e-04,
        1.90932722e-07, -5.39534959e-09, -8.85360679e-10, -1.80476555e-07,
       -1.28287913e-07, -1.67767336e-08, -1.03355355e-05, -1.17543525e-09,
        2.42489771e-09,  6.78786933e-10,  5.85285569e-10, -1.21030380e-08,
       -2.64709742e-09, -1.58623461e-08, -2.94470527e-10, -3.45665859e-08,
       -4.13994502e-09, -3.44348101e-09,  9.54300003e-07,  3.28353923e-10,
       -1.54021402e-07, -1.18034368e-09, -8.35917860e-09, -5.49475696e-09,
       -4.41018586e-08, -6.90186434e-05, -3.85342920e-07,  4.60980511e-06,
       -8.25227600e-09,  3.14047412e-10, -5.70749133e-09, -1.62248773e-04,
       -5.91128306e-10, -2.40827598e-06, -3.37809959e-09,  1.58309783e-10,
        4.82273778e-11,  2.07437204e-06, -6.31662067e-09, -7.01537860e-09,
       -7.48252171e-09, -8.49210640e-07, -1.09088367e-08, -1.14830505e-08,
       -1.08486609e-07, -5.77243420e-07, -1.47191641e-09,  2.55545367e-06,
        4.69272273e-09, -1.53802823e-08, -1.10633520e-07, -2.82270385e-05,
        1.90319743e-08, -1.35121405e-07, -2.93282015e-10, -1.50243734e-09,
       -1.47773471e-09,  1.02828880e-10, -1.18060952e-09,  6.35725801e-05,
       -9.14222726e-09, -9.99906965e-09, -1.51982549e-09, -6.88870104e-09,
       -3.35282404e-10, -9.43998172e-06,  2.18399485e-10, -1.55584914e-06,
       -2.48863470e-08,  4.92937125e-10, -1.16375361e-08,  7.08685489e-08,
        3.70301626e-09, -8.83439209e-08, -1.74777761e-08,  1.21971897e-08,
        1.05685351e-07, -1.50565288e-07, -5.75588306e-07,  1.39785144e-09,
        1.75061550e-09,  2.13216574e-09, -8.72818215e-09, -3.58333200e-08,
       -5.07122064e-08,  1.85523261e-06, -1.01640669e-08, -8.96634384e-10,
       -8.13506203e-07, -8.12257868e-09,  2.04736180e-05, -4.66675007e-08,
       -1.90207880e-08, -3.18873061e-08, -5.48467994e-07, -1.17374921e-09,
       -9.91943182e-09, -6.39119652e-09,  3.70921467e-11, -1.61829843e-07,
       -6.76433730e-09, -6.77822052e-09,  3.73686581e-09,  6.16820146e-09,
        1.58541729e-09, -2.95590271e-10, -1.25502160e-08, -2.00434012e-09,
       -2.67778967e-05, -3.34008589e-05, -1.76015544e-09, -3.26173173e-09,
       -5.17637856e-08, -1.18467903e-09, -1.18182578e-09, -8.02998180e-10,
       -9.87686232e-09, -1.93473381e-07, -5.90474124e-09, -1.24353108e-08,
       -5.43331231e-05,  8.34287255e-11,  1.48310802e-10,  7.93439530e-10,
        1.46162072e-10,  6.73444826e-11,  1.50940473e-10,  6.87599679e-11,
        6.24711823e-11,  1.20742533e-10, -1.17553744e-09,  4.86629312e-11,
       -1.91578816e-08, -1.51095140e-09, -5.89336250e-10,  2.78257864e-08,
        2.09484801e-09,  2.04011042e-10, -2.94366401e-10, -2.59174006e-06,
       -5.15225593e-07, -5.76118479e-09, -8.07618271e-09, -1.87611383e-08,
       -6.39671869e-09, -4.51927655e-09, -2.94880406e-10, -5.88598680e-10,
       -2.95346156e-09, -1.76825008e-09, -1.76309564e-09,  3.89119172e-10,
        6.79903331e-11,  4.82576533e-10,  7.82203290e-08, -1.05901718e-07,
       -1.24806499e-08,  5.22838152e-11, -3.54288110e-09,  2.04575326e-07,
       -2.67680101e-05,  5.81730397e-11, -9.60283350e-09,  5.64264498e-05,
       -9.51069031e-08,  6.36162744e-06,  5.73711307e-05, -8.85474588e-10,
       -1.17933018e-09, -1.46578365e-09,  5.81286296e-08, -4.61973554e-08,
       -2.12295400e-07, -3.36656180e-10, -2.63888071e-09, -2.95073782e-10,
       -1.37037768e-08, -1.68672553e-04,  1.57698565e-04, -4.50313497e-07,
       -8.11623035e-09, -2.62067448e-08, -7.88301647e-07, -2.05670237e-09,
       -1.76359119e-09, -1.39993037e-08, -2.44793638e-09, -3.07063194e-09,
       -5.69752331e-09,  1.48782696e-07, -5.90350071e-10, -1.08340460e-08,
        2.91811832e-08, -1.76179131e-06, -4.67317684e-08, -3.43256687e-08,
       -7.30319185e-09, -2.60719210e-06, -1.14309804e-06, -4.96302807e-07,
       -7.44752182e-08, -4.11581103e-06, -2.09596879e-08, -4.96311176e-08,
        1.96544136e-09,  8.83584057e-09,  4.57799109e-09,  3.19169308e-09,
        3.40827101e-09, -2.39350585e-08, -7.64273009e-08, -2.59609511e-09,
        5.54802180e-10, -1.03762970e-08, -4.46461762e-09,  4.66437944e-09,
       -1.47880049e-09,  3.06125311e-09,  3.09684027e-05,  7.23177938e-06,
       -1.94015641e-08, -1.69983683e-07, -1.76824359e-09, -3.88508644e-07,
       -1.17477140e-08,  2.97040177e-04, -1.75395504e-08, -3.35929527e-10,
       -7.35546802e-09,  1.09539860e-10,  6.85376811e-10,  1.16318322e-10,
       -1.60619455e-08, -1.64443498e-08,  1.00773540e-06, -5.06849696e-06,
        7.25818322e-09,  1.60292622e-09, -8.88230140e-10, -7.61789940e-09,
       -1.75194632e-08, -7.26911980e-09, -1.75232038e-08, -5.85628547e-10,
       -3.90295756e-05,  1.48745044e-10, -1.33153047e-08, -4.15977519e-09,
       -1.21214500e-08, -5.10971138e-08, -1.19661722e-08, -1.18347311e-09,
       -1.37023414e-08, -2.41659049e-08, -2.98267329e-08, -2.89064194e-07,
       -1.09237976e-07, -1.23530233e-07,  5.78741315e-08, -1.69320272e-05,
       -6.99624847e-05,  3.47281756e-10, -4.62822505e-09, -5.27526991e-10,
       -1.10847286e-07, -1.26386481e-07,  1.18491864e-07, -1.83421031e-06,
        8.10513248e-08, -2.21278163e-09, -2.39465902e-08, -1.67890215e-07,
        1.12189903e-05,  4.48743864e-09, -1.23907542e-08, -1.57655895e-06,
        1.76378657e-08,  1.26976133e-09, -2.46077282e-08, -1.77158147e-05,
        3.95180600e-10,  7.74324073e-08, -2.85250890e-06,  4.25440837e-08,
       -6.18329706e-10,  5.23064673e-09,  2.33864782e-09,  9.23318270e-09,
        2.07740391e-10,  1.13846455e-09, -1.44606229e-07, -1.50625148e-08,
        7.48199284e-09,  5.61992166e-08, -4.03759983e-09,  1.06724800e-09,
        1.77145778e-05, -7.92871715e-08,  2.35760600e-09,  1.88372132e-10,
        1.71989723e-10, -2.61183783e-08, -3.80621420e-09, -1.55209048e-07,
       -2.74864727e-06, -3.61573136e-08,  6.37049945e-10,  6.25895828e-10,
        7.38062204e-10, -8.16918046e-09, -2.77956808e-08, -1.33041906e-08,
       -1.04665561e-08, -1.47346295e-09, -3.43794408e-06, -2.28072615e-06,
       -9.74738733e-09, -1.02255036e-08, -1.54056252e-05,  2.70276094e-05,
        2.56455612e-08, -2.96161239e-10,  2.07402874e-10, -1.27472234e-08,
       -8.42770690e-09, -6.15093598e-08, -3.20771035e-09, -3.57165038e-07,
       -1.95376197e-06,  3.73321525e-07, -1.57752541e-08,  5.87865940e-05,
        2.22983224e-08,  1.21764379e-09,  4.28875949e-05, -9.96145702e-09,
       -2.94928734e-10, -2.01055380e-08, -2.76593134e-07, -8.69696627e-09,
       -1.00218990e-08, -6.95835714e-09, -6.51479537e-09, -1.17300256e-09,
        1.29453449e-05, -7.51174682e-08, -7.44328614e-08, -2.03678104e-08,
       -4.45261162e-08, -5.05361698e-08, -8.65511642e-08, -3.57024233e-08,
       -1.47969222e-09,  1.16428275e-08, -2.99468103e-08,  4.64921140e-11,
       -3.41123971e-09,  3.12946079e-06,  4.44440132e-08,  9.05144613e-09,
       -1.05019622e-04, -6.36358770e-10,  2.20850040e-09,  4.40861726e-09,
        1.48905478e-10, -5.89655938e-10, -1.77169409e-09, -3.18689352e-10,
        8.78601316e-10,  9.35237003e-10, -3.44711270e-06, -6.29892887e-09,
       -6.45254958e-07, -4.13160694e-09,  3.40326993e-10, -2.06230784e-09,
       -1.76977330e-09, -1.77584630e-09, -5.65701496e-09, -1.24175719e-07,
       -2.43751094e-08, -3.83460817e-09,  3.57734461e-10, -1.47782624e-09,
        4.51007179e-07, -1.63870557e-09, -8.83129226e-10,  1.60870822e-07,
        6.33793517e-08,  1.03906800e-08,  2.20201999e-09, -8.84967683e-10,
        2.12520255e-07,  9.57609507e-09,  3.22334564e-09,  1.66777892e-08,
        7.72393806e-10,  3.03170559e-09,  4.91869612e-10,  4.72302470e-10,
        1.44606943e-06, -1.30590410e-04,  2.18045992e-04,  5.50851463e-07,
        2.35023445e-04, -6.80501296e-06, -2.34782021e-08,  6.92505671e-11,
       -1.35791403e-08, -5.91295811e-10, -6.74251378e-09, -1.77049510e-09,
       -5.80148158e-08, -1.17647282e-09,  3.37565629e-08, -5.58134660e-07,
       -2.40122755e-08, -1.65883223e-09, -3.05922635e-09, -3.42968951e-09,
       -7.40498950e-09,  6.64905432e-06, -1.76466241e-09, -8.83212520e-10,
       -5.89611402e-09, -5.51118243e-07,  7.93949655e-11, -1.25221118e-09,
       -5.56794088e-09, -1.72442471e-09, -1.18774600e-08, -1.17682848e-09,
       -8.84372862e-10, -2.88294874e-08, -7.43580707e-09, -1.06522496e-09,
        4.19821986e-09, -8.85240869e-10, -3.10796947e-08, -1.38590482e-09,
       -1.00375454e-08, -7.99766003e-08, -6.51074759e-08,  1.09061161e-10,
        4.13806312e-04,  1.59961578e-07,  2.33913955e-10,  5.65813708e-06,
       -1.88429447e-09,  1.15189928e-09, -3.86406966e-09, -5.90085727e-10,
       -1.61670360e-06,  3.81600612e-06, -2.94567963e-09,  7.42154304e-09,
       -6.98063947e-09, -2.62554953e-08, -5.86441326e-10, -8.81040954e-10,
       -2.31247191e-08,  2.27966781e-06, -2.96161229e-10, -1.05740793e-07,
       -7.07123641e-09, -3.98018537e-07, -1.98143160e-08, -2.32978054e-08,
       -5.57508494e-09, -6.28431522e-08,  3.56115065e-09,  3.58256094e-05,
       -5.91132515e-10, -1.27974058e-07, -2.26494000e-08,  4.94826620e-06,
        3.89976838e-09,  1.43532630e-10,  7.53600338e-11,  6.16483123e-11,
       -3.57749897e-09, -1.15381102e-05, -2.95859497e-10, -3.98175251e-09,
       -2.66457388e-09, -2.67395077e-08, -2.16279070e-09, -1.11360519e-08,
       -2.96906614e-08, -1.96865332e-09, -8.83237371e-10, -2.16415826e-09,
       -6.19822247e-10,  1.26263723e-07,  1.41936866e-04, -1.48289332e-08,
        4.21155288e-09,  6.39320489e-05, -1.30304464e-04,  3.24553563e-08,
        1.47765736e-05,  2.71036920e-08,  5.42372476e-08,  3.47924202e-09,
       -1.49778428e-07, -6.46977208e-07,  5.89719883e-09,  9.20626520e-07,
        1.13165646e-07,  3.06035947e-09,  1.50303550e-09,  6.38437029e-07,
        1.80474893e-08, -1.09742783e-08,  1.78771586e-09, -7.06796571e-09,
       -4.12524809e-09, -1.51075752e-07,  1.50245994e-08, -4.05401827e-08,
       -5.15430978e-05,  1.09752655e-06,  6.40617242e-07, -4.33459431e-04,
        5.23298600e-08,  3.01899371e-08,  2.01133322e-09,  1.76514897e-09,
        3.56474758e-10, -5.08225596e-09, -2.07608268e-07, -4.63535262e-07,
        7.80813562e-07,  6.78894230e-07,  2.22022998e-08, -7.41716914e-10,
       -4.92249939e-08, -7.45022410e-09, -1.96566106e-08, -8.49911169e-08,
       -8.81795510e-10, -3.54421620e-09, -7.50124047e-09, -9.98436407e-05,
       -2.06405762e-09, -2.96156987e-10, -3.82313934e-09,  2.90989845e-09,
        1.00967582e-05,  8.12027900e-09, -2.91200026e-08,  2.25493054e-10,
        1.52327798e-10, -5.90350122e-10, -1.70388284e-07, -2.92993183e-10,
       -6.84498512e-09, -5.83607952e-09, -1.16474811e-10,  1.11555621e-05,
       -8.14127535e-09, -5.86871953e-10, -1.75838197e-09, -3.10459957e-08,
       -2.63077470e-09, -5.08409129e-09, -2.03592463e-05, -1.48061542e-08,
       -4.71120454e-09, -2.66188467e-09, -2.95209360e-09,  1.78224148e-09,
       -5.98749810e-07,  7.77768845e-07,  5.55446320e-08, -1.43045792e-08,
        8.48232027e-09,  2.13514950e-09,  8.33989264e-06,  1.08374888e-07,
        1.08264738e-09, -2.66402481e-09,  4.87399009e-10, -1.69700286e-04,
        3.96105336e-09, -9.30458936e-10, -6.25172745e-10,  7.13053296e-10,
        1.62724730e-09,  1.40914314e-09,  1.52126031e-07,  8.95619877e-11,
        1.62656646e-10,  1.50823708e-10,  1.40291988e-10, -2.98362847e-10,
        1.29563332e-08,  3.81963414e-10,  3.65188876e-07,  5.11031153e-08,
        9.18104723e-10, -8.88967625e-10, -1.28298593e-08, -3.73031170e-09,
       -5.46371400e-09, -5.91242936e-10, -3.31241224e-06, -1.02095863e-07,
       -5.33564976e-07, -3.62364367e-08, -1.77046975e-09, -6.22288236e-08,
       -4.41397917e-06, -9.22345967e-09, -2.56302538e-09,  2.34129635e-07,
        1.27950137e-07, -4.13503919e-09,  2.01756475e-08,  4.98176842e-09,
       -5.59661275e-09,  2.01250590e-04,  2.03002150e-04, -1.30814995e-07,
       -1.67443365e-05, -5.70153904e-08, -5.99190410e-07, -1.28766635e-09,
       -2.95517024e-10, -2.67382515e-07,  1.40192552e-10, -2.18532032e-04,
       -1.14088973e-07,  2.45182066e-05, -1.17485462e-09, -1.55158519e-08,
       -5.50554618e-08, -1.36691455e-08, -1.95571361e-08, -5.28101345e-09,
       -1.24588866e-04, -4.88440386e-09, -7.22854213e-08, -7.07914468e-09,
       -6.72345871e-09, -7.29290070e-09, -5.90720433e-10, -4.14163420e-08,
       -1.47018930e-09,  5.89416708e-10, -1.18079698e-09, -1.80132787e-09,
       -1.10149443e-08,  3.13607120e-08, -1.47607002e-09, -3.84071770e-09,
       -4.30495582e-10, -6.64004362e-10, -1.52561285e-09, -3.37494369e-10,
       -2.72456199e-09, -3.83192845e-06,  2.44863718e-06, -2.92103895e-06,
       -8.01569662e-08, -9.40275484e-05,  9.88694682e-09,  1.36105471e-04,
        9.65036132e-08,  1.36533856e-08, -6.14356334e-10, -8.96965436e-05,
       -6.33309748e-08, -2.06782978e-09, -8.84294528e-10, -1.59692190e-07,
       -3.90382994e-08, -2.20022369e-04, -1.12897883e-08, -6.31623564e-06,
        1.14117426e-05, -8.84697528e-10, -1.06275006e-08,  1.12379902e-07,
       -6.10601159e-06,  5.84355514e-08,  1.24474288e-04, -1.00684377e-08,
       -4.32072427e-07, -4.01647278e-08, -1.46647271e-09, -4.49842217e-08,
        1.45375098e-04,  3.28595839e-06, -1.83926061e-08, -7.68305182e-08,
       -3.04375958e-08, -1.44495073e-08, -8.65189269e-09, -2.55640296e-08,
       -2.21478865e-05, -6.95168978e-10, -4.34797330e-08,  1.99960864e-10,
        1.62828317e-10,  2.42376498e-10, -9.05854375e-09, -7.00297145e-08,
       -2.33508571e-06,  6.43006499e-05, -1.37181565e-08,  3.33160957e-09,
       -5.92063458e-10, -2.36918287e-09, -8.82570220e-10,  3.48369525e-10,
       -2.96017884e-10, -1.81585544e-08, -2.22025928e-08, -2.11791625e-05,
       -1.18228788e-07, -1.81551786e-08, -4.10525646e-09, -4.95719241e-09,
       -4.82261797e-09, -3.14938692e-10, -3.56926635e-09, -5.88646872e-10,
        2.69604454e-09,  7.04538654e-11, -6.83131947e-09, -7.87358298e-09,
       -4.97195669e-05, -6.22716392e-08, -2.69301618e-09,  1.17988038e-10,
       -1.17854362e-09, -5.04766348e-08, -1.43824935e-04,  1.79089251e-07,
        1.27294855e-08,  4.50465596e-10,  4.33148276e-09,  2.08537575e-10,
       -8.88486432e-08, -1.98277248e-05, -1.68352390e-04,  2.01877813e-07,
       -1.26809276e-09, -6.59712417e-09, -2.35481993e-08, -6.16640071e-08,
        2.21961776e-09,  6.33021465e-10, -2.95216606e-10,  7.24429739e-08,
        2.24416614e-07, -1.04252888e-08, -2.81033347e-08, -8.56111810e-09,
       -5.83491815e-10,  3.58779470e-08, -3.13131864e-10,  1.28515817e-08,
        3.22108318e-08, -3.77288502e-07,  1.52309102e-08,  2.27781252e-08,
        2.55171432e-10,  4.88877788e-08,  1.28009695e-04, -1.66004973e-04,
       -5.63670349e-08, -2.30788644e-09,  1.56576599e-06, -1.19698178e-09,
       -1.71733715e-09, -9.93936965e-09, -2.45041024e-09, -2.84648936e-09,
       -3.69364637e-09,  9.12082104e-03, -4.12879296e-05,  1.01347640e-04,
        3.37093754e-06, -1.60014046e-04, -4.26848054e-09, -3.88968760e-07,
       -2.67199180e-05,  2.39434120e-06,  1.43531223e-05, -5.14634167e-08,
       -1.08443110e-07, -1.39926003e-05,  1.51985056e-07, -1.81316863e-04,
        2.16592554e-05,  2.42119523e-04,  3.03247792e-04,  1.44237490e-04,
       -2.30207746e-06, -3.85386193e-04, -2.14484648e-04, -1.83340757e-01])

In [44]:
preed = model.predict(X_train)

In [45]:
probX = model.predict_proba(X_train)

In [46]:
probX[:, 1]

array([4.76022446e-028, 4.44560929e-057, 1.00000000e+000, ...,
       5.52372340e-049, 1.03847986e-151, 2.61906782e-002])

In [47]:
predv = model.predict(X_val)
(predv == y_val).mean()

0.9995803608896349

In [48]:
featuree= [
    'year',
'engine_hp',
'transmission_type',
'city_mpg'
]

In [49]:
scores = {}
for feature in featuree:
    df_trainf = df_train.drop(columns=[feature])
    df_testf = df_test.drop(columns=[feature])
    df_valf = df_val.drop(columns=[feature])
    
    trainf_dict = df_trainf.to_dict(orient= 'records')
    X_trainf = dv.fit_transform(trainf_dict)
    val_dictf = df_valf.to_dict(orient= 'records')
    X_valf = dv.transform(val_dictf)
    test_dictf = df_testf.to_dict(orient= 'records')
    X_testf = dv.transform(test_dictf)
    
    model.fit(X_trainf, y_train)
    preedf = model.predict(X_valf)
    
    scores[feature] = (preedf == y_val).mean()
print(scores)

{'year': 0.9471254720939991, 'engine_hp': 1.0, 'transmission_type': 0.9995803608896349, 'city_mpg': 0.9995803608896349}

In [91]:
df_val.year

AttributeError: 'DataFrame' object has no attribute 'year'